@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Raleway:wght@600&display=swap');

.logo{
     margin-bottom: 3.0rem;

}

div{
    width:1600px;
    margin: 0 auto;
    text-align: center;
}
#background {
    height: 725px;
}

body {
    background-color: #9DFFF9; 
}

h1, h2, h3, h4{
    font-family: 'Raleway', sans-serif;

}

.home-title{
    
    font-size: 2em;
}

.msg {
    background-color: #6f7364;
    line-height: 3.5em;
  }

p,a{
    font-family: 'Oswald', sans-serif;
}

header {
    background-color:#64F58D(20,30,13, .7);
}


nav a:hover {
    background-color: rgb(186, 71, 121);
    color: #fcba64;
} 

.icon {
    width: 80px;
}

nav a {
    text-align: center;
    color: #fcba64;
    text-decoration: none;
    padding: 35px;
}

footer{background-color: #6f7364;
    line-height: 3.5em;
    margin-top: 12rem;
}

footer p {
    font-size: 1.2em;
} 

footer p a:hover {
    text-decoration: underline;
} 
   
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding: 15px 30px;
    margin-top: 450px;
    border-radius: 4px;
}

.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}